@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: rgb(39, 23, 61);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 234, 234);
}

header {
    width: 100%;
    padding: 2em;
    background-color: rgb(214, 145, 67);
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

a {
    text-decoration: none;
    transition: .3s all;
    color: inherit;
}

a:hover {
    color:  rgb(88, 60, 128);
}

main {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

section.title {
    text-align: center;
}

section.title h1 {
    font-size: 56px;
}

h3 {
    text-align: center;
    font-size: 36px;
    margin-bottom: .5em;
}

footer {
    padding: 2em;
    display: flex;
    gap: 2em;
    font-size: 36px;
}